<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<section class="login">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="15px"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field>
      <input
        matInput
        type="email"
        placeholder="Enter your email"
        formControlName="email"
      />
      <mat-error *ngIf="f.email.invalid">
        {{ emailErrorHandler() }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        placeholder="Enter your password"
        formControlName="password"
      />
      <mat-icon matSuffix (click)="hide = !hide">
        {{ hide ? "visibility_off" : "visibility" }}
      </mat-icon>
      <mat-error *ngIf="f.password.invalid">
        {{ passwordErrorHandler() }}
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
      *ngIf="!isLoading"
    >
      Login
    </button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>
