.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 100;
}

.mat-icon {
  margin-right: 5px;
}

@media only screen and (min-width: 600px) {
  .main-toolbar {
    height: 80px;
  }
}

.main-toolbar__list > .mat-list-item {
  color: #fff;
}

.logo {
  height: 52px;

  &__secondary {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__image {
    height: 100%;
  }
}
