.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-icon {
  margin-right: 5px;
}

@media only screen and (min-width: 600px) {
  .main-toolbar {
    height: 80px;
  }
}

.main-toolbar__list > .mat-list-item {
  color: #fff;
}
