<section fxLayout="column" fxLayoutAlign="center center">
  <mat-dialog-content>
    <mat-form-field fxFlex.xs="220px" fxFlex.gt-xs="250px">
      <input
        matInput
        placeholder="Enter your email"
        ngModel
        required
        email
        name="email"
        #emailInput="ngModel"
      />
      <mat-error *ngIf="emailInput.hasError('required')">
        Please enter your email
      </mat-error>
      <mat-error *ngIf="emailInput.hasError('email')">
        Please enter a valid email
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions
    fxLayout.xs="column"
    fxLayoutAlign.xs="center center"
    fxLayoutGap.xs="10px"
  >
    <button
      mat-raised-button
      color="accent"
      [disabled]="emailInput.invalid"
      [mat-dialog-close]="true"
      (click)="onResetPassword(emailInput.value)"
    >
      Reset password
    </button>
    <button mat-raised-button color="warn" [mat-dialog-close]="false">
      Cancel
    </button>
  </mat-dialog-actions>
</section>
